* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 65vw;
  margin: 0 auto;
}

/* Header */
header {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: url(./images/bg-pattern-intro.svg) top -1150px right -1100px /
      2800px no-repeat,
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 100px;
  z-index: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: relative;
}

nav .box-left {
  display: flex;
  align-items: center;
}
nav .box-left__links {
  display: flex;
  padding-left: 20px;
  color: #ffffff;
}

nav .box-left__links li {
  padding: 0 15px;
  font-size: 0.8em;
  font-weight: 700;
}

nav .box-left__links li i {
  font-size: 0.6em;
  padding: 0 5px;
}

.box-right__login button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.box-right__login button:first-child {
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
}
.box-right__login button:last-child {
  color: hsl(353, 100%, 62%);
  font-weight: 700;
}

.action {
  display: flex;
  flex-direction: column;
  height: 65%;
  z-index: 2;
}

.action h1 {
  font-size: 3em;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}

.action h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}

.action__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.action__buttons button {
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  width: 115px;
  font-weight: 700;
}

.action__buttons button:first-child {
  color: hsl(353, 100%, 62%);
}

.action__buttons button:last-child {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

/* Section */
section div {
  width: 100%;
}

section h2 {
  padding: 80px 0;
  text-align: center;
  font-size: 2em;
  font-family: "Overpass", sans-serif;
  color: hsl(208, 49%, 24%);
}

section div h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 1.5em;
  padding: 40px 0;
}

section div p {
  font-family: "Overpass", sans-serif;
  color: hsl(207, 13%, 34%);
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
  width: 48%;
}

.section-top {
  position: relative;
  overflow: hidden;
  padding: 5rem 0 16rem 0;
}
.section-top img {
  position: absolute;
  width: 45%;
  left: 68%;
  top: 13%;
}

.section-mid {
  padding: 70px;
  background-color: hsl(237, 17%, 21%);
  display: flex;
  justify-content: space-between;
  position: relative;
  background: url("./images/bg-pattern-circles.svg") top -550px left -140px /
      1000px no-repeat,
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-radius: 0 70px 0 70px;
}

.section-mid__img img {
  position: absolute;
  top: -18%;
  left: 15%;
  width: 25%;
}
.section-mid h3,
.section-mid p {
  color: hsl(0, 0%, 100%);
  width: 70%;
}

.section-mid h3 {
  font-size: 2rem;
}

.section-bottom {
  position: relative;
  overflow: hidden;
  padding: 10rem 0 16rem 0;
}

.section-bottom img {
  position: absolute;
  top: 10%;
  left: -13%;
  width: 45%;
}

.section-bottom {
  display: flex;
  flex-direction: row;
}

.section-bottom div:last-child {
  padding-top: 50px;
}

.section-bottom p {
  width: 60%;
}

footer {
  background-color: hsl(240, 10%, 16%);
  padding: 70px 0;
  color: hsl(0, 0%, 100%);
}

footer div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer ul {
  padding-top: 30px;
}

footer ul li {
  margin: px 0;
}
