/* Animation */

.icon-open {
  animation: menu-icon-open 0.4s forwards;
}
.icon-close {
  animation: menu-icon-close 0.4s forwards;
}

.show {
  display: block !important;
}

.icon-rotate {
  transition: 1s;
  animation: icon-list 0.1ms forwards;
}

@keyframes menu-icon-close {
  from {
    opacity: 1;
  }
  to {
    transform: rotateZ(90deg);
    opacity: 0;
  }
}
@keyframes menu-icon-open {
  from {
    transform: rotateZ(90deg);
  }
  to {
    opacity: 1;
  }
}

@keyframes icon-list {
  to {
    transform: rotate(-180deg);
  }
}
