/* Header */
header {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: url(../images/bg-pattern-intro.svg) top -350px right -600px /
      1300px no-repeat,
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 100px;
  z-index: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: relative;
}

nav .box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav .box__button {
  position: relative;
  background-color: transparent;
  border: none;
}

nav .box__button img:last-child {
  position: absolute;
  top: 7px;
  right: 2px;
  opacity: 0;
}

nav .box__menu {
  position: absolute;
  top: 70px;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  opacity: 0;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2px 5px 10px 1px #00000056;
  z-index: 100;
}

nav .box__menu ul li {
  padding: 10px;
}

nav .box__menu ul span {
  font-size: 1.3em;
  font-weight: 500;
  color: hsl(208, 49%, 24%);
}

nav .box__menu ul span i {
  width: 10px;
  font-size: 0.5em;
}

nav .box__menu ul li ul {
  display: none;
  background-color: #c6c6c648;
  margin-top: 15px;
  padding: 15px 0;
  color: hsl(237, 23%, 32%);
  font-size: 1.3em;
  font-weight: 500;
}
nav .box__menu ul li ul li:hover {
  color: #000000;
}

nav .box__menu .menu__login::before {
  content: "";
  width: 100%;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
}

nav .box__menu .menu__login {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav .box__menu .menu__login button {
  padding: 15px;
  border-radius: 25px;
  border: none;
  width: 115px;
  font-size: 1.3em;
  font-weight: 700;
}
nav .box__menu .menu__login button:hover {
  opacity: 0.8;
}

nav .menu__login button:first-child {
  background-color: transparent;
  color: hsl(208, 49%, 24%);
}

nav .menu__login button:last-child {
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  color: #ffffff;
}

.action {
  display: flex;
  flex-direction: column;
  height: 65%;
  padding: 0 10px;
  z-index: 1;
}

.action h1 {
  font-size: 2.1em;
  text-align: center;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}

.action h2 {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}

.action__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.action__buttons button {
  border-radius: 20px;
  border: none;
  padding: 14px 15px;
  margin: 5px;
  width: 115px;
  font-weight: 700;
}

.action__buttons button:first-child {
  color: hsl(353, 100%, 62%);
}

.action__buttons button:last-child {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}
