/* Section */

section div {
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

section h2 {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 1.8em;
  padding: 80px 0;
  text-align: center;
}

section div h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 1.5em;
  padding: 40px;
}

section div p {
  color: hsl(207, 13%, 34%);
  font-family: "Overpass", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.9em;
  margin: 0 auto;
  width: 80%;
}

.section-top {
  margin-bottom: 70px;
}
.section-top .mobile {
  width: 100%;
}

.section-top .desktop {
  display: none;
}

.section-mid {
  background: url("../images/bg-pattern-circles.svg") top -250px left -100px /
      600px no-repeat,
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-radius: 0 70px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 250px;
  padding: 70px 0;
  position: relative;
}

.section-mid__img {
  position: relative;
  width: 100%;
}

.section-mid__img img {
  left: 10px;
  position: absolute;
  top: -250px;
  width: 350px;
}

.section-mid div {
  color: hsl(0, 0%, 100%);
  padding-top: 50px;
  width: 100%;
}

.section-mid p {
  color: hsl(0, 0%, 100%);
  width: 80%;
}

.section-mid h3 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

.section-bot {
  padding: 40px 0;
}

.section-bot .mobile {
  width: 100%;
}
.section-bot .desktop {
  display: none;
}
